In [12]:
#install MySQLdb (pip3 install mysqlclient)
###########################################-----Check Sql table number of rows---#################################

#import mysql library
import MySQLdb as my
#configure & connect with db  
db = my.connect(host="127.0.0.1",
user="root",
passwd="yourdatabasepassword",
db="yourdatabasename"
)
#prepare cursor object using cursor function
cursor = db.cursor()
#execute quesry and store the affected row result
number_of_rows = cursor.execute("select * from tablename");
#print number of rows 
print(number_of_rows)
#close database connection
db.close()

3

In [6]:
######################################----Print table data-------########################################################
import MySQLdb as my
 
db = my.connect(host="127.0.0.1",
user="root",
passwd="",
db=""
)
 
cursor = db.cursor()
 
number_of_rows = cursor.execute("select * from tablename");
#extract the data from the number of rows affected by the the query
result = cursor.fetchall()
#print data
print(result)
 
db.close()

((1, 'Zarqab', 8932061199, 'zarqabiqbal@gmail.com'), (2, 'Adarsh', 9580671275, 'adarshmishra067@gmail.com'), (3, 'Sumit', 8707315651, 'sumit15bt@gmail.com'))

In [7]:
import MySQLdb as my
 
db = my.connect(host="127.0.0.1",
user="root",
passwd="",
db=""
)
 
cursor = db.cursor()
 
number_of_rows = cursor.execute("select * from tablename");
 
result = cursor.fetchall()
for row in result:
  print(row)
 
db.close()

(1, 'Zarqab', 8932061199, 'zarqabiqbal@gmail.com')
(2, 'Adarsh', 9580671275, 'adarshmishra067@gmail.com')
(3, 'Sumit', 8707315651, 'sumit15bt@gmail.com')

In [14]:
import MySQLdb as my
 
db = my.connect(host="127.0.0.1",
user="root",
passwd="",
db=""
)
 
cursor = db.cursor()
 
sql = "select * from tablename where colname='value'"
 
number_of_rows = cursor.execute(sql)
 
result = cursor.fetchall()
for row in result:
  print(row[1], row[2])
 
db.close()

Zarqab 8932061199